<%- include('partials/header') -%>
<div class="row">
    <div class="column">
      <img src="images/purpleClouds.jpg">
      <img src="images/homeBackground.jpg">
      <img src="images/paintBrush.png">
      <img src="images/purpleClouds.jpg">
      <img src="images/purpleClouds.jpg">
      <img src="images/purpleClouds.jpg">
    </div>
    <div class="column">
        <img src="images/purpleClouds.jpg">
        <img src="images/purpleClouds.jpg">
        <img src="images/purpleClouds.jpg">
        <img src="images/purpleClouds.jpg">
        <img src="images/purpleClouds.jpg">
        <img src="images/purpleClouds.jpg">
    </div>
  </div>
<%- include('partials/footer') -%>  